<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика матча</title>
</head>
<body>
    <table>
        <tr>
            <th>Тираж</th>
            <th>Хозяева</th>
            <th>Гости</th>
            <th>S1</th>
            <th>S2</th>
            <th>HW</th>
            <th>Draw</th>
            <th>AW</th>
            <th>FP</th>
            <th>FM</th>
            <th>FUN</th>
            <th>MP</th>
            <th>MM</th>
            <th>MUN</th>
        </tr>
    </table>

</body>
</html>